.list {
    align-items: center;
    margin: 5cm;
    margin-top: 2cm;
    margin-bottom: 2cm;

}

.students {
    margin: 10cm;
    align-items: center;
    margin-top: 2cm;
    margin-bottom: 2cm;

}

.buttonx {
    margin-bottom: 2cm;
}